* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 22px;
}

legend {
  margin-bottom: 15px;
  font-size: 20px;
}

label {
  font-size: 18px;
}

input {
  display: block;
  margin: 10px auto;
  height: 30px;
  width: 70%;
  max-width: 400px;
  font-size: 16px;
}

button[type="submit"] {
  margin-top: 15px;
  width: 50%;
  max-width: 200px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}

.trip {
  font-size: 16px;
}

.trip-origin, .trip-destination {
  text-decoration: underline;
}

.trip-length {
  margin: 10px 0;
  font-weight: bold;
  display: block;
  font-size: 20px;
}

.load-movies {

}

.movie-list, .user-movies-list {
  list-style: none;
}

.container {
	position: relative;
}

.container img {
	opacity: 1;
  /*display: block;
  /*width: 100%;*/
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 0.8;
}

.overlay p {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}