* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #1a1a1a;
  color: white;
}

h1 {
  font-size: 40px;
}

h1 .flix {
  color: #B9090B;
}

h2 {
  font-size: 22px;
}

#trip-form {
  /*border: 2px solid black;*/
  background-color: #d3d3d3;
  color: black;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

#trip-form, .trip, .user-movies {
  border-radius: 15px;
}

legend {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

label {
  font-size: 18px;
}

input {
  display: block;
  margin: 10px auto;
  height: 30px;
  width: 70%;
  max-width: 400px;
  font-size: 16px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 5px;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none !important;
  border-color: #B9090B;
  box-shadow: 0 0 10px #B9090B;
}

button[type="submit"] {
  margin-top: 15px;
  width: 50%;
  max-width: 200px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
  background-color: #B9090B;
}

button[type="submit"]:hover, .load-movies:hover, button[type="submit"]:focus, .load-movies:focus {
  color: black;
  background-color: white;
  border: 1px solid black;
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px black;
}

.trip {
  background-color: white;
  color: black;
  font-size: 16px;
  width: 60%;
  margin: 15px auto;
  border: 2px solid gray;
  margin-bottom: 10px;
}

.trip-origin, .trip-destination {
  text-decoration: underline;
  font-weight: bold;
}

.trip-length {
  margin: 10px 0;
  font-weight: bold;
  display: block;
  font-size: 20px;
}

.load-movies {
  font-size: 22px;
  background-color: #B9090B;
  padding: 10px 20px;
  max-width: 400px;
  color: white;
  border: 1px solid #B9090B;
}

.movie-list, .user-movies-list {
  list-style: none;
}

button {
  border-radius: 5px;
  border: none;
  /*-webkit-appearance: button;*/
}

.prev-button, .next-button {
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px 25px;
}

.prev-button:hover, .next-button:hover {
  text-decoration: underline;
}

.container {
	position: relative;
  width: 100%;
  max-width: 185px; /* size of image */
  /*height: 100%;*/
  max-height: 278px;
  margin: 15px auto;
}

.container img {
	opacity: 1;
  /*display: block;
  /*width: 100%;*/
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 10px 10px 5px grey;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 0.9;
}

.overlay p {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 12px;
  height: 100%;
  margin: 0;
}

.user-movies {
  width: 90%;
  border: 2px solid white;
  margin: 20px auto;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #B9090B;
}

.add-movie, .remove-movie {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  -webkit-appearance: none;
}

.add-movie:hover, .add-movie:focus, .remove-movie:hover, .remove-movie:focus {
  outline: none !important;
  color: white;
  background-color: #B9090B;
  border-color: white;
  box-shadow: 0 0 10px white;
}

/* LOOK AT NETFLIX FOR SOME DESIGN INSPIRATION */
@media only screen and (min-width: 640px) {

	ul li {
		display: inline-block;
		margin: 0 15px;
		padding: 0;
	}

  .trip {
    font-size: 20px;
  }

  .trip-length {
    font-size: 24px;
  }

	.movie-list, .user-movies-list {

	}

}